@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;

}

header {
    text-align: center;
}



.main {
    max-width: 1600px;
    align-content: center;
    height: 700px;
    align-items: center;
    margin: 0 auto;

}

.color {
    color: grey;
}

#first_span {
    font-weight: bold;
}

.span_text span {
    margin-right: 15px;
    font-size: small;

}

.profile_picture {
    border-radius: 50%;
    width: 25px;
    height: 25px;

}

.navbar {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}



.navbar_text_start {
    border: 5px solid rgb(236, 234, 234);
    padding: 10px;

    color: black;
    border-radius: 10px;
    width: 100px;
    text-align: start;


}

.navbar_text_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: smaller;
}

.navbar_text_center span {
    margin-right: 30px;
}

.navbar_text_end {
    padding: 10px;
    border: 3px solid rgb(236, 234, 234);
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}

.card_body img:not(.bbrr) {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.card_container {
    height: 300px;
    background-color: white;
    margin-bottom: 30px;
}

.card_footer {
    font-size: 13px;
    justify-content: space-between;
    display: flex;
}

.bg_grey {
    background-color: rgb(202, 197, 197);
    color: white;
    padding: 1px 3px;
    border-radius: 3px;
}

.footer_icons i span {
    margin-right: 0;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.footer_name {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar_text_center span:last-of-type {
    background-color: rgb(240, 235, 235);
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.bbrr {
    border-bottom-right-radius: 20px;
    width: 350px;
    height: 250px;
    margin-bottom: 7px;

}